 html,body{
    max-width:100%;
    height:100%;
    background-color:lightpink;
    overflow-x:hidden;
          }

.div-1{
    display:flex;
    justify-content:space-around;
    line-height:0vh;
   }
    
p{
    text-align:justify;
    font-family: 'Patrick Hand SC', cursive;
    }

h1{
    text-align:center;
    }
    
h1,h2{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
        }

h3{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
}

li{
    font-family: 'Patrick Hand SC', cursive;
} 

.all-desserts{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }

img{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }
        
a,h1{
    font-family: 'Courgette', cursive;
        }
    
a:visited{
    color:indigo;
     }

ul li a{
    display:inline-block;
    padding:15px;
       }

ul a{
    list-style-type:none;
     }

.links-list{
    list-style-type:none;
    font-size:20px;
    padding:20px;
    text-align:center;
    }

@media(min-width:300px){

h1{
    font-size:30px;
    }

.div-1{
    line-height:2vh;
}

ul li a{
    display:flex;
    justify-content:center;
    font-size:25px;
         }

img{
    width:100vw;
    height:60vw;
    object-fit:cover;
    }
      }

@media(min-width:768px){
    
.div-1 a{
    font-size:45px;
    line-height:5vh;
        }
    
h1{
   font-size:75px;
   }

h2{
    font-size:50px;
}

h3{
    font-size:45px;
}
        
li{
    font-size:45px;
       }

p{
    font-size:45px;
}

.links-list{
    padding:100px;
 }

ul li a{
   font-size:60px;
}

ul, ol{
    margin-left:5%;
}
 }

@media(min-width:1000px){

html{
    height:100%;
    overflow-y:hidden;
}

.all-desserts{
    width:auto;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
        }

img{
   width:500px;
   height:auto;
   display:block;
   margin-left:auto;
   margin-right:auto;
}

.aligned{
    display:flex;
    align-items:center;
      }

span{
    padding:50px;
}

body{
    line-height:5%;
}

p{
    line-height:1.2;
}

ul, ol{
    line-height:1.2;
}

.div-1{
    padding-top:15px;
} 

::-webkit-scrollbar{
    width:1.5vw;
    }

::-webkit-scrollbar-track{
    background-color:indigo;
    border-radius:0.8vw;
    } 

::-webkit-scrollbar-thumb{
    background-color:plum;
    border-radius:3vw;
    border:6px solid transparent;
    background-clip:content-box;
    }   

::-webkit-scrollbar-thumb:hover{
    background-color:hotpink;
    }









  }
  

