 html,body{
    max-width:100%;
    background-color:lightpink;
    overflow-x:hidden;
    margin-bottom:0;
    scroll-behavior:smooth;
    }

p{
    text-align:justify;
    font-family: 'Patrick Hand SC', cursive;
    }

h1{
    text-align:center;
    }
    
h1,h2{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
    }

h3{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
}

li{
    font-family: 'Patrick Hand SC', cursive;
} 

img{
    width:100%;
    }

a,h1{
    font-family: 'Courgette', cursive;
    }

a:visited{
    color:indigo;
    }

footer a{
    padding:15px;
}

ul li a{
    display:inline-block;
    padding:15px;
       }

ul a{
    list-style-type:none;
}

.remove-bullets{
    list-style-type:none;
}

@media(min-width:300px){

h1{
    font-size:30px;
    }

footer a{
    padding:40px;
    }

ul li a{
    display:flex;
    justify-content:center;
    font-size:25px;
     }
       }
