 html,body{
    max-width:100%;
    height:100%;
    background-color:lightpink;
    overflow-x:hidden;
      }

footer{
    display:flex;
    justify-content:space-around;
    }
    
p{
    text-align:justify;
    font-family: 'Patrick Hand SC', cursive;
    }

h1{
    text-align:center;
    }
    
h1,h2{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
        }

h3{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
}

li{
    font-family: 'Patrick Hand SC', cursive;
} 

.all-desserts{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }

.img-10{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }

.img-11{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }
    
.img-9{
    width:100vw;
    height:70vw;
    object-fit:cover;
        }
a,h1{
    font-family: 'Courgette', cursive;
        }
    
a:visited{
    color:indigo;
     }

footer a{
    padding:15px;
    }

ul li a{
    display:inline-block;
    padding:15px;
       }

ul a{
    list-style-type:none;
     }

.links-list{
    list-style-type:none;
    font-size:20px;
    padding:20px;
    text-align:center;
    }

@media(min-width:300px){

h1{
    font-size:30px;
    }

footer a{
    padding:40px;
      }

ul li a{
    display:flex;
    justify-content:center;
    font-size:25px;
         }

.img-10{
    width:100vw;
    height:60vw;
    object-fit:cover;
    }
    
.img-11{
    width:100vw;
    height:60vw;
    object-fit:cover;
    }
        
.img-9{
    width:100vw;
    height:60vw;
    object-fit:cover;
            }
        }

@media(min-width:768px){
    
footer a{
    font-size:45px;
        }
    
h1{
   font-size:75px;
   }

h2{
    font-size:50px;
}

h3{
    font-size:45px;
}
        
li{
    font-size:45px;
       }

p{
    font-size:45px;
}

.remove-bullets{
    padding:100px;
 }

ul li a{
   font-size:60px;
}
 }









