html,body{
    max-width:100%;
    height:100%;
    background-color:lightpink;
    overflow-x:hidden;
    line-height:normal;
          }

.div-1{
    display:flex;
    justify-content:space-around;
    line-height:0;
   }
p{
    text-align:justify;
    font-family: 'Patrick Hand SC', cursive;
    }

h1{
    text-align:center;
    }
    
h1,h2{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
        }

h3{
    font-family: 'Patrick Hand SC', cursive;
    color:indigo;
}

li{
    font-family: 'Patrick Hand SC', cursive;
} 

.all-desserts{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }

img{
    width:100vw;
    height:70vw;
    object-fit:cover;
    }
        
a,h1{
    font-family: 'Courgette', cursive;
        }
    
a:visited{
    color:indigo;
     }

ul li a{
    display:inline-block;
    padding:15px;
       }

ul a{
    list-style-type:none;
     }

.links-list{
    list-style-type:none;
    font-size:20px;
    padding:20px;
    text-align:center;
    }

@media(min-width:300px){

h1{
    font-size:30px;
    }

.div-1{
    line-height:2vh;
}

ul li a{
    display:flex;
    justify-content:center;
    font-size:25px;
         }

img{
    width:100vw;
    height:60vw;
    object-fit:cover;
    }
      }

@media(min-width:768px){
    
.div-1 a{
    font-size:45px;
    line-height:5vh;
        }
    
h1{
   font-size:75px;
   }

h2{
    font-size:50px;
}

h3{
    font-size:45px;
}
        
li{
    font-size:45px;
       }

p{
    font-size:45px;
}

.links-list{
    padding:100px;
 }

ul li a{
   font-size:50px;
}

ul, ol{
    margin-left:5%;
}
 }

@media(min-width:1000px){

img{
    width:450px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
                }   
.space{
    line-height:normal;
}

#reduce{
    line-height:1;
}
                
body{
    margin:2px;
    line-height:0.1em;
      }

.all-desserts{
    width:60vw;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
                }

.links-list{
    padding:0;
    display:flex;
    width:725px;
    justify-content:space-between;
               }
    
div ul li a{
    font-size:15px;
    display:flex;
    justify-content:space-between;
    margin-right:105px;
         }

.lined-up{
    margin-left:185px;
                }

p{
    line-height:1.2;
                }
                      
ul, ol{
    line-height:1.2;
                }

.aligned{
    display:flex;
    align-items:center;
                    }
                    
span{
    padding:10px;
                }
                  }
@media(min-width:1280px){

img{
    width:400px;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
            }        
            
.all-desserts{
    width:60vw;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
                    }
                    
.links-list{
    padding:0;
    display:flex;
    width:725px;
    justify-content:space-between;
               }
    
div ul li a{
    font-size:15px;
    display:flex;
    justify-content:center;
    margin-right:180px;
         }
    
.lined-up{
    margin-left:230px;
        }
    
    
.aligned{
    display:flex;
    align-items:center;
        }
        
span{
    padding:10px;
        }
        
body{
    line-height:5%;
        }

.space{
    line-height:1;
}
        
p{
    line-height:1.2;
        }
        
ul, ol{
    line-height:1.2;
        }
        
.div-1{
    padding-top:15px;
        } 
            }
@media(min-width:1440px){

html{
    height:100%;
    overflow-y:hidden;
    }

img{
   width:500px;
   height:auto;
   display:block;
   margin-left:auto;
   margin-right:auto;
        }        
        
.all-desserts{
    width:auto;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
                }
                
.links-list{
    padding:0px;
    display:flex;
    width:725px;
    justify-content:space-between;
    margin-left:24.9vw;
    margin-right:24.9vw;
    width:auto;
    height:auto;
         }

div ul li a{
    font-size:23px;
    display:flex;
    justify-content:center;
    margin-right:65px;
     }

.lined-up{
    margin-left:325px;
    margin-right:325px;
    display:flex;
    justify-content:space-between;
       }

.aligned{
    display:flex;
    align-items:center;
    }
    
span{
  padding:10px;
    }
    
body{
    line-height:5%;
    }
    
p{
  line-height:1.2;
    }
    
ul, ol{
  line-height:1.2;
    }
    
.div-1{
    padding-top:15px;
    } 
    
::-webkit-scrollbar{
    width:1.5vw;
    }
    
::-webkit-scrollbar-track{
    background-color:indigo;
    border-radius:0.8vw;
    } 
    
::-webkit-scrollbar-thumb{
    background-color:plum;
    border-radius:3vw;
    border:6px solid transparent;
    background-clip:content-box;
        }   
    
::-webkit-scrollbar-thumb:hover{
    background-color:hotpink;
}
}
          